**/node_modules

# Environment files excluded from git
env/.env.local
env/.env.agenthook
env/.env.merged.local
.env 

# Environment files included in git
!env/.env.foundry
!env/.env.example
!env/.env.hook
!env/.env.uniswap
