# Compiler files
cache/
out/
coverage/
/broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Private keys and sensitive data0
*.pem
*.key
*.secret
**/secrets.json
**/secrets.txt

# Lcov
lcov.info
lcov.html
