# LLM PASSWORD *****************************************************************************
OPENAI_API_KEY=""
OPENAI_API_KEY_HAMI=""

# CDP API KEYS
CDP_API_KEY_NAME=""
CDP_API_KEY_PRIVATE_KEY=""

# RPC URLs
ETHEREUM_SEPOLIA_RPC_URL=""
ETHEREUM_MAINNET_RPC_URL=""
BASE_SEPOLIA_RPC_URL=""

# ETHERSCAN API KEYS *****************************************************************************
ETHERSCAN_API_KEY=""
ETHERSCAN_BASE_API_KEY=""
ETHERSCAN_UNICHAIN_API_KEY=""
ETHERSCAN_ARBITRUM_API_KEY=""

# ETHEREUM SEPOLIA ACCOUNTS *****************************************************************************
SEPOLIA_ACCOUNT_ADDRESS_1=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_1=""

SEPOLIA_ACCOUNT_ADDRESS_2=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_2=""

SEPOLIA_ACCOUNT_ADDRESS_3=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_3=""

SEPOLIA_ACCOUNT_ADDRESS_4=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_4=""

SEPOLIA_ACCOUNT_ADDRESS_5=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_5=""

SEPOLIA_ACCOUNT_ADDRESS_6=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_6=""

SEPOLIA_ACCOUNT_ADDRESS_7=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_7=""

SEPOLIA_ACCOUNT_ADDRESS_8=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_8=""

SEPOLIA_ACCOUNT_ADDRESS_9=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_9=""

SEPOLIA_ACCOUNT_ADDRESS_10=""
SEPOLIA_ACCOUNT_PRIVATE_KEY_10=""

